streamlit==1.30.0 # Versão específica para evitar surpresas
bcrypt==4.1.2     # Versão específica
python-dotenv==1.0.0 # Versão específica
pg8000==1.30.0    # Versão específica
# Adicione aqui quaisquer outras dependências que seu projeto utilize
# Exemplo:
# pandas
# numpy
