streamlit==1.29.0
python-dotenv==1.0.0
bcrypt==4.1.0
pyjwt>=2.8.0,<3.0.0
requests==2.31.0

# Supabase versão estável e compatível
supabase==2.10.0

# Evita conflito com proxy/httpx
httpx>=0.26,<0.28

reportlab
